@model IEnumerable<TP2024_Etapa4_26012_24200_18577.Models.DocumentoUtilizador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumentoTd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilizadorU)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumentoTd.Tdid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilizadorU.Uid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Duid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Duid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Duid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
