@model IEnumerable<TP2024_Etapa4_26012_24200_18577.Models.Utilizador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkIrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoradaM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUtilizadorTu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkIrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoradaM.Mid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUtilizadorTu.Tuid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Uid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Uid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Uid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
