@model IEnumerable<TP2024_Etapa4_26012_24200_18577.Models.Fatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoFaturaTf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoC.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFaturaTf.Tfid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Fid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Fid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Fid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
